.heroContain {
    background-image: url(../../images/home.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
    place-content: center;
    gap: 2rem;
    padding: 10px 10%;
 
    
  
}

.heroContain h1{
    font-size: 60px;
    color: var(--blanco);
    text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.314);
}
.carters{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.carters span{
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--blanco);
    padding: 2px 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}


@media (max-width: 800px){
    .heroContain {
        height: 100vh;
        padding: 10px 5%;
        gap: 3rem;
    }

    .heroContain h1{
        font-size: 40px;
     
    }
}