header {
    width: 100%;
    z-index: 10;
    transition: all 0.2s linear;
    position: fixed;
   
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    padding: 0px 2%;
    height: 10vh;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 8%);
    background-color: var(--blanco);
    transition: all 0.2s linear;
    
}

.btn-sesion{
    background-color: var(--color1);
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 600;
    color: var(--blanco);
}
.btn-sesion2{
    background-color: var(--color1);
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 600;
    color: var(--blanco)!important;
}
.btn-sesion:hover{
    background-color: var(--blanco);
  border: 1px solid var(--color1);
    color: var(--text-color2);
}
.modal-nav{
    z-index: 30000;
    position: fixed;
    top: 0;
    left: 100%;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: -webkit-fill-available;
    transform: translateX(-100%);
    transition: 1s ease all;
    height: 100vh;
    gap: 2rem;
    align-items: center;
    background-color: var(--bg-color);
    background: linear-gradient(0deg,var( --celeste) 0%, var( --modal) 50%)!important;
    -webkit-transition: 1s ease all;
    -moz-transition: 1s ease all;
    -ms-transition: 1s ease all;
    -o-transition: 1s ease all;
}
.cerrar-modal {
    cursor: pointer;
   margin-right: 74%;
   width: 20px;
   font-size: 30px;
   color: #fff;
 
}






.nav_items.open {
    transform: translateX(0) !important;
  
}


.nav_toggle{
    display: flex !important;
    flex-direction: column;                
    margin: 15px;
    cursor: pointer;
}
.nav_toggle span{
    width: 25px;
    height: 3px;
    background: var(--blanco);
    margin-bottom: 5px;
    border-radius: 20px;
    transform-origin: 3px 0px;
    transition: all 0.2s linear;
  
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
   
   
}
.logo h1{
    color: var(--color1);
}
.logo img{
    width: 30px;
    
}
.logo-nav{
    display: none;
    
}


.enlaces{
    display: flex;
    flex-direction: column;
    text-align: center;
 
}
.enlaces a:hover{
    background-color: var(--color1);
}
.enlaces a{
    color: var(--text-color)!important;
    text-decoration: none;
   
}

.nav_toggle span{
    background-color: var(--color1);
    display: none;
}


.nav_items{
    width: 100%;
    display: flex;
    align-content: center;
    align-self: center;
    align-items: center;
  
    
}

  




.cerrar-nav{
    color: var(--color1);
    margin-left: 85%;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
   
}


.nav_items{
    z-index: 800;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--blanco);
    display: flex;
    flex-direction: column;
    width: 30%;
    height: -webkit-fill-available;
    transform: translateX(-100%);
    transition: 0.3s ease all;
    height: 100vh;

    gap: 2rem;
   
}




.input-enlaces{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    gap: 1rem;
   
}

.enlaces2 a{
    padding: 0px 10px;
    width: 8rem;
    text-decoration: none;
    color: var(--text-color);
 }

@media (max-width: 1110px) {
    header {
        width: 100%;
        z-index: 10;
        transition: all 0.2s linear;
        position: fixed;
    }
    .btn-sesion{
        display: none;
    }
 
    .modal_content{
        width: 100%;
        min-height: 100vh;
       z-index: 2000000;
        position: fixed;
        margin-top: 44%;
       }
        .modal-nav{
           left: 50%;
            width: 50%;
            height: 100%;
          
    }
    
    
    

    .logo-nav img{
        
        width: 50px;
    }
    .logo-nav{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .logo-nav h1{
        color: var(--color1);
       
    }
    .nav_toggle span{
        display: flex;
    }
    .nav_items span {
       
        padding: 10px 3rem;
    }
    .nav_items{
        width: 50%;
    }
    .nav_toggle.open > span{
        transform: rotate(45deg) translate(0px, 0px);
        
}
    .nav_toggle.open > span:nth-child(2){
        display: none;
    }
    .nav_toggle.open > span:nth-child(3){
        transform: rotate(-45deg) translate(-5px, 1px);
        -webkit-transform: rotate(-45deg) translate(-5px, 1px);
        -moz-transform: rotate(-45deg) translate(-5px, 1px);
        -ms-transform: rotate(-45deg) translate(-5px, 1px);
        -o-transform: rotate(-45deg) translate(-5px, 1px);
}

  

    .nav_items a{
       padding: 10px;
        display: flex;
        flex-direction: column;
    }
    .enlaces{
        text-align: center;
    }
}



@media (max-width: 900px) {
  
    .enlaces2 a{
       display: none;
     }
     .input-enlaces{
        width: auto;
        display: flex;
        align-items: none;
        justify-content: none;
        align-content: none;
     
    }
    .logo h1{
        display: none;
    }
 }



@media (max-width: 700px) {
   
    .cerrar-nav{
        font-size: 30px;
        font-weight: bold;
        display: flex;
       
    }
    .modal-nav{
        left: 100%;
         width: 100%;
         height: 100%;
       
 }
  
    
    
    .nav_items{
        width: 100%;
     
      
       
    }

    




}

