.cardsHomeContain{
    margin: auto;
    width: 100%;
    padding:10px 3%;
    border-radius: 1em;
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    gap:20px;
}

.cardHome{
    overflow: hidden;
    border-radius: 10px;
    border: 0.3px solid #00000037;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 20px 20px ;
    background-color: var(--blanco);
}
.cardHome:hover{
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.215);
   
    transition: all 0.2s linear;
}
.cardHome p{
    color: var(--text-color2);
    width: 90%;
    font-size: 14px;
}
.cardHome h3{
    color: var(--text-color);
}
.iconCard{
    font-size: 20px;
    padding: 10px;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;

    background-color: rgba(0, 162, 255, 0.227);
    color: rgba(0, 115, 255, 0.863);
}


@media (max-width: 900px){
    .iconCard{
       
        padding: 10px;
        width: 1.4rem;
        height: 1.4rem;
    
    }
    
}